# ============================================
# 1. Data (데이터는 구조만 남기고 내용은 무시)
# ============================================
train_data/*
!train_data/.gitkeep

test_data/*
!test_data/.gitkeep
val_data/

# ============================================
# 2. Model Weights (최종 가중치 포함 여부에 따라 조절)
# ============================================
model/*
!model/.gitkeep
# model/*
# !model/model.pt

# ============================================
# 3. Python & OS & IDE
# ============================================
__pycache__/
*.py[cod]
*$py.class
.env
.venv
# env 폴더 내의 가상환경 폴더만 무시
env/venv/

.vscode/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# ============================================
# 4. Logs & Others
# ============================================
wandb/
*.log
*.zip
*.tar.gz

# ============================================
# 5. External Large Datasets (원본 영상 보관소)
# ============================================
external_data/
downloads/
# FF++ 다운로드 스크립트 폴더
FaceForensics/
# DFDC 관련 폴더들
dfdc*/
# 제출용 파일
submission.csv
ff_dataset/

# 대용량 압축 파일 및 영상 파일 안전장치
*.zip
*.tar
*.tar.gz
*.mp4
*.avi
*.mov
*.mkv
*.jpg

/**/ */